{% extends "base.html" %}

{% block title %}
    Formulář
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <form method="post" class="p-4 border rounded shadow">
                {% csrf_token %}
                <table class="table table-borderless mx-auto">{{ form.as_table }}</table>
                <input type="submit" id="id_submit" value="Uložit" class="btn btn-primary mt-3">
            </form>
        </div>
    </div>
{% endblock %}